Please make the career tree visible in Mystats for all clients. The link was previously accessible in approximately September.
Once the ticket is assigned, I will provide the new job titles and profiles that will need to be included
Please provide estimate for time for completion